@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Sen&display=swap');



#banner{
	background-color: #A89C94FF;  
}


.form-head{
	font-family: Sen;
}



body{
	font-family: Montserrat;
}

.row{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

form{
	padding: 0.5rem;
}

#banner-row{
	margin-top: 0;
	margin-bottom: 0;
	padding: 0.25rem;

}

#footer-row{
	margin-top:0;
	margin-bottom:0;
	padding: 1rem;
}

.follow{
	padding-left:0.25rem;
	font-family: Montserrat;
	color: black;
	font-size: 1.25rem;
	font-weight: 400;
}

#cards-row{
	padding-left: 1rem;
	padding-right: 1rem;
}

.card{
	margin-bottom: 1rem;
	width: 30%;
}

.card-title{
	text-align: center;
}

.pic{
	height: auto;
	width: 100%;
}

#btn-container{
	flex-direction: column;
	position: absolute;
	top: 13%;
	z-index: 10;

}

@media(max-width: 576px){
	#btn-container{
		position: relative;
		width: 100%;
		flex-direction: row;
		justify-content: space-evenly;
		top: unset;
		bottom: 80%;
	}
}

.promo-btn{
	margin-top: 10px;
}

#btn-col{
	position: static;
}

#pic-col{
	margin-right: auto;
	margin-left: auto;

}

.menu-head > h2{
	display: inline-block;
	padding: 0.5rem;
	Color: black;
}


.card-template1{
	flex-direction: row;
	width: 100%;
}

.card-img-left{
	width: 25%;
}

.card-template1 > .card-body{
	width: 75%;
}

.loc-head{
	text-align: center;
	width: 100%;
}

.card-title{
	color: black;
}

.card-text{
	 color: black;
}

.locs{
	flex-wrap: wrap;
}